@mixin text($ff, $fw, $fs, $lh, $color){
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@mixin desctop-small{
    @media (max-width: $desctop-small) {
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin tablet-small{
    @media (max-width: $tablet-small) {
        @content;
    }
}
@mixin mobile{
    @media (max-width: $mobile) {
        @content;
    }
}