//Fonts:
$ff: 'Inter', sans-serif;

//Colors:
$white: #ffffff;
$black: #000;
$bg: #FCFDFF;
$dark: #344054;
$purple: #5429FF;
$grey: #CBCCE8;
$dark-grey: #667085;
$border: #D0D5DD;

//Transition:
$transition: all .3s ease-in-out;

//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;